In [39]:
df_travel = pd.read_csv("../DATA/TRAVEL/mrt_df_final.csv")
len(df_travel)

738

In [41]:
df_travel['drop']=''
for i in range(len(df_travel)):
    
    if "유심" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    elif "픽업" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    elif "와이파이" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    else:
        df_travel['drop'][i] = "N"

C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [42]:
len(df_travel)

738

In [43]:
df_travel_clean = df_travel[df_travel['drop'] == "N"].reset_index()

In [44]:
df_travel_clean = df_travel_clean.drop('index', axis=1)

In [45]:
len(df_travel_clean)

660

In [46]:
df_travel_clean2 = df_travel_clean[df_travel_clean['score'] >= 3.0].reset_index()
df_travel_clean3 = df_travel_clean2.drop('index', axis=1)
df_travel_clean3

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop
0,2122,Netherlands,Amsterdam,4.73,231,84,가이드 투어,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,좋긴 좋았습니다. 가이드님이 없었으면 중요 작품들이 무엇인지 알지 못했으니까요. 하...,"{'purpose': 'etc', 'age_group': '30'}",etc,30,N
1,1474,Netherlands,Amsterdam,4.61,160,49,가이드 투어,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,두명이서 다녔는데 시간을 알차게 계획하시구 또 전문성있게 잘 설명해주셔서 재밌었습니...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
2,34700,Netherlands,Amsterdam,4.95,104,43,가이드 투어,네덜란드 암스테르담 시내 실속 워킹투어,암스테르담을 실속있게 둘러볼 수 있는 투어입니다. 레이오버로 암스테르담에 잠깐 들...,암스테르담에 오시면 꼭꼭 들어보기를 추천드려요! 머무르는 기간이 짧든 길든 특히 첫...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N
3,460,Netherlands,Volendam,4.83,154,41,가이드 투어,"히트호른, 폴른담, 풍차마을",작은 베네치아라는 별명을 가진 히트호른 마을과 네덜란드에서 가장 아름다운 전통의상을...,장거리 운전이라 힘드셨을텐데도 친절하게 잘 안내해주시고 설명도 잘 해주셨습니다 감사...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N
4,8693,Czech Republic,Praha,4.56,2353,802,가이드 투어,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",*안녕하세요 하이프라하입니다! 이벤트 공지사항 1+1이벤트 공지입니다.독일 드...,일단 원래 후기를 잘 적지 않는데이번은 꼭 적어야 할 것 같아요너무 만족스러운 투어...,"{'purpose': 'alone', 'age_group': '30'}",alone,30,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,46060,Egypt,Cairo,4.50,7,2,여행편의,카이로 국제공항 → 카이로 또는 기자 호텔 프라이빗 이송 서비스,본 상품은 evoucher 상품으로 '예약 내역'에서 확인되는 바우처의 출력본 혹...,카이로공항 바깥에서 이름적힌 피켓들고 있어서 쉽게 찾을 수 있었습니다. 운전기사 한...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
458,42623,Egypt,hurghada.,4.00,8,2,가이드 투어,후르가다 출발 룩소르 전일 관광,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",와 진짜..왕복 시간 너무 길었어요 솔직히 오후 여섯시에 끝날줄 알았는데 중간에 휴...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N
459,27627,Egypt,hurghada.,4.00,7,2,액티비티,후르가다: 사륜 바이크로 3시간 사막 사파리 여행,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",좋아요생각보다 너무 오래타야해서 손이 아팠어요ㅠ 그리고 배두인 마을이 아니라 그냥 ...,"{'purpose': 'friends', 'age_group': '50'}",friends,50,N
460,46232,Egypt,Cairo,5.00,7,1,가이드 투어,"카이로 : 기자 피라미드, 스핑크스, 사카라 프라이빗 가이드 투어","본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",친절한 가이드와 자세한 역사적인 설명을 들을 수 있었던 시간이었습니다. 추천드립니다.,"{'purpose': 'alone', 'age_group': '20'}",alone,20,N
461,46067,Egypt,Cairo,5.00,5,1,가이드 투어,카이로: 고대 이집트 유적지 '기자 피라미드 & 멤피스 & 사카라' 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...","예약자 두명과 운전기사 한명, 가이드 한명 총네명이 승용차에 타고 피라미드를 보러가...","{'purpose': 'partner', 'age_group': '30'}",partner,30,N

In [47]:
len(df_travel_clean3)

462

In [38]:
df_travel_clean3.to_csv("../DATA/TRAVEL/clean_mrt_df_final.csv", index=False)

In [31]:
grouped = df_travel['title'].groupby(df_travel['city_name'])
grouped

In [30]:
grouped.size()

country
Algeria                      1
Argentina                    8
Armenia                      9
Aruba                        1
Australia                    9
                            ..
United States of America    15
Uruguay                      2
Uzbekistan                   1
Viet Nam                     9
Zambia                      10
Name: title, Length: 105, dtype: int64

In [10]:
df_travel_01 = pd.read_csv("../DATA/TRAVEL/travel_labeling_0_229.csv")[0:115]
df_travel_02 = pd.read_csv("../DATA/TRAVEL/travel_labeling110_220.csv")
df_travel_03 = pd.read_csv("../DATA/TRAVEL/travel_labeling_345-462.csv", index_col=0)
len(df_travel_01), len(df_travel_02), len(df_travel_03)

(115, 120, 104)

In [22]:
df_travel_02

,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop,area,interest,company
0,Turkey,Cappadocia,4.26,253,62,가이드 투어,[투어] 카파도키아 투어 필수 그린투어(한국어/영어) :: 터키/카파도키아,카파도키아에서 특별한 장소를 가고 싶다면 꼭 필요한 투어 그린투어 입니다차량으로 대...,정말 좋았습니다^^가이드분이 한국어 너무잘하시고 재밌어요!무스타파 가이드님 쵝오!!...,"{'purpose': 'alone', 'age_group': '20'}",alone,20,N,자연,Kn,혼자
1,Turkey,Cappadocia,4.40,146,42,가이드 투어,[투어] 한국어/영어 카파도키아 그린투어 :: 터키/카파도키아,**3월은 코로나바이러스 입국제한 등으로 인하여 한국어투어를 위한 모객이 부족한 ...,"가이드님도 좋았고, 여행 코스 자체가 알찼습니다~한국어 가이드가 모객 부족으로 영어...","{'purpose': 'children', 'age_group': '40'}",children,40,N,자연,Kn,가족
2,Portugal,lisbon,4.96,1206,563,가이드 투어,리스본 미식워킹투어 (포르투갈/리스본),'포르투는 일하고 코임브라는 공부하고 브라가는 기도하고 리스본에서 즐긴다.' 라는 ...,"어머니랑 둘이 떠나는 여행이었는데, 너무너무 좋았어요! 설명도 친절하고 자세하게 잘...","{'purpose': 'alone', 'age_group': '30'}",alone,30,N,도시,Fo,혼자
3,Portugal,lisbon,4.95,907,420,가이드 투어,[한국어 투어]'로맨틱 파라다이스' 신트라(포르투갈/리스본),리스본에서 30분만 벗어나도 전혀 다른 세상이 펼쳐집니다. 시인 바이런이 '에덴 동...,리스본 오신다면 신트라를 빼먹을수없죠 설명은 물론이고 정말 친절하시고 재밌습니다 여...,"{'purpose': 'alone', 'age_group': '30'}",alone,30,N,자연,Sh,혼자
4,Portugal,Porto,4.80,1028,410,가이드 투어,[투어]나만 알고 싶은 포르투 낭만투어 [낮워킹투어+야경포함] [예약시 리스본 또...,*3월 투어부터는 기존 출발시간인 오후 2시 출발로 변경됩니다. 식사시간은 오후 6...,가이드님이 너무 너무 너무 친절하시고 설명도 쉽게 잘 해주셨어요! 포르토가 언덕이 ...,"{'purpose': 'alone', 'age_group': '30'}",alone,30,N,도시,Ex,혼자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Viet Nam,Da Nang,4.73,1156,308,가이드 투어,[투어] 다낭 바나힐 체크아웃 단독투어+11시간 내맘대로 차량이용+공항드랍:: 베트...,[투어안내]모르는 사람들과 같이 다니고 가이드 눈치보는거 싫은신 분들은 꼭 선택하세...,피곤하지않았던게 가장컸습니다.운전을 너무 잘해주셔서 편안하게 다녔어요~ 어디로 픽업...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,Ex,친구
116,Viet Nam,Halong Bay,4.34,951,215,가이드 투어,[투어] [하노이] 하롱베이당일 티톱섬방문투어(하롱베이-하노이 왕복 고속도로이용),하롱베이는 하노이에서는 약 170km거리이고 차량으로는 4시간 정도 소요된다. 19...,현지가이드가 챙겨주는 느낌은 없었지만그래도 즐거운 투어였어요가이드가 잘생겼어요. 너...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,Ex,친구
117,Brunei,Bandar Seri Begawan,5.00,2,1,가이드 투어,[투어] 브루나이 시티 투어 + 수상마을 캄퐁 아에르 투어 (브루나이/반다르스리브가완),*최소 모객 인원은 2인입니다. 투어 7일 전까지 2인이 모객되지 않을 경우 투어가...,"가이드님이 너무 상세하게 브루나이, 역사에 대해 설명해주셔서 3시간이 금방 갔네요....","{'purpose': 'parents', 'age_group': '30'}",parents,30,N,도시,Ex,가족
118,Indonesia,Bali,4.74,607,145,여행편의,발리 렌트카 한대 빌리기 1~4명 [ 10시간+주유+주차+통행료+기사포함],내가 원하는 곳만 쏙쏙! 알짜배기 발리 여행을 하려면 !? 빈땅투어 차량 서비스 ...,기사님이 정말 정말 친절하셔서 미안할 정도였어요ㅠㅠ 이동 수단 걱정 없이 자유롭게 ...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,_,_,친구
119,Indonesia,Bali,4.68,410,138,여행편의,발리 승용차 렌트 (운전기사 포함),본 상품은 evoucher 상품으로 이메일로 받은 바우처를 출력해서 제시해주시면 ...,드라이버가 너무 친절하고 편하게 대해주셨어요 오자마자 일정도 다 체크해주시고 여행사...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,_,_,친구

In [19]:
df_travel_03_2 = df_travel_03.drop('comment', axis=1)
df_travel_03_2

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop,area,company,interest
0,20018,United States of America,San Francisco,4.94,1578,655,가이드 투어,요세미티 국립공원 일일투어 (글래시어포인트포함),"✔ 스냅사진, 아침간식과 점심(컵라면), 기념품샾방문, 가이드팁까지 모두포함 (팁은...",1박2일투어가 대부분이라 당일 투어도 괜찮을까 생각했는데 투어를 하고보니 전혀 걱정...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,친구,Ad
1,15749,United States of America,Las Vegas,4.91,1473,576,가이드 투어,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),☆ 혼자 예약하셔도 OK ☆ ☆ 2인부터 출발 가능합니다 ☆ Ƹ̵̡Ӝ̵̨̄Ʒ 여...,"가이드분께서 배경 지식도 많아서 역사적인 부분을 설명해주시기도 하고, 시국이 이래서...","{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,친구,Ad
2,7063,Canada,Toronto,4.98,268,124,가이드 투어,캐나다 자연 즐기기2- 나이아가라 폭포,나이아가라 주변을 하루 안에 두루두루 관광하려면 현지를 잘 아는 사람과 함께 기동성...,가족 4명이 갔는데 차량이 여유 있었어요 아이스와인을 소개해 주셨는데 갔다온 지 꽤...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,자연,허니문,Ad
3,60509,Canada,Toronto,4.92,231,92,가이드 투어,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...,"캐나다 하면 떠오르는 그곳, 죽기 전에 꼭 한번 봐야하는 절경! 절대 놓치면 안 ...",남편과 토론토 여행하며 영진투어를 신청하게 되었는데요~~!! 정말 가이드님 적극 추...,"{'purpose': 'honeymoon', 'age_group': '20'}",honeymoon,20,N,자연,허니문,Sh
4,31845,Canada,Toronto,4.81,138,62,가이드 투어,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 ),이 상품은 단독 상품 입니다. 개인 투어의 자유함을 느껴보세요^^* NPC(Niag...,친절하게 잘 대해주시고 단독투어라 좀더 편하게 다녀올수있었습니다. 충분한 자유시간을...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N,자연,가족,Ex
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,35729,Egypt,Cairo,3.67,10,3,가이드 투어,[카이로→알렉산드리아] 알짜배기 이집트 역사 가이드 투어,"본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",관광지 입장료와 점심식사비용이 포함되어있다고 해서 예약을 했는데 막상 현지에서 가이...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N,도시,친구,Kn
100,42623,Egypt,hurghada.,4.00,8,2,가이드 투어,후르가다 출발 룩소르 전일 관광,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",와 진짜..왕복 시간 너무 길었어요 솔직히 오후 여섯시에 끝날줄 알았는데 중간에 휴...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,도시,허니문,Kn
101,27627,Egypt,hurghada.,4.00,7,2,액티비티,후르가다: 사륜 바이크로 3시간 사막 사파리 여행,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",좋아요생각보다 너무 오래타야해서 손이 아팠어요ㅠ 그리고 배두인 마을이 아니라 그냥 ...,"{'purpose': 'friends', 'age_group': '50'}",friends,50,N,자연,친구,Ad
102,46232,Egypt,Cairo,5.00,7,1,가이드 투어,"카이로 : 기자 피라미드, 스핑크스, 사카라 프라이빗 가이드 투어","본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",친절한 가이드와 자세한 역사적인 설명을 들을 수 있었던 시간이었습니다. 추천드립니다.,"{'purpose': 'alone', 'age_group': '20'}",alone,20,N,도시,혼자,Kn
103,46067,Egypt,Cairo,5.00,5,1,가이드 투어,카이로: 고대 이집트 유적지 '기자 피라미드 & 멤피스 & 사카라' 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...","예약자 두명과 운전기사 한명, 가이드 한명 총네명이 승용차에 타고 피라미드를 보러가...","{'purpose': 'partner', 'age_group': '30'}",partner,30,N,도시,허니문,Kn

In [23]:
df_travel_01_03 = pd.concat([df_travel_01, df_travel_03_2])